.boxContourage {
  height: 634px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 691px;
}

.boxContourage .groupContourage {
  background-color: #ffffff;
  border-radius: 40px;
  height: 720px;
  position: relative;
  width: 100%;
}


.boxContourage .Importation-wrapper {
  height: 40px;
  left: 280px;
  position: absolute;
  top: 30px;
  width: 400px;
}

.boxContourage .Contourage {
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 250px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 400px;
  margin-top: 30px;
}
.boxContourage .med{
  margin-top: -37px;
  margin-left: 60px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .patient{
  margin-top: -20px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .patientNom{
  margin-top: -15px;
  margin-left: 130px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .loc{
  margin-top: 20px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .locinput{
  margin-top: 19px;
  margin-left: 150px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .dateContourage{
  margin-top: 40px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .inputdateContourage{
  margin-top: -25px;
  margin-left: 220px;

  
}
.boxContourage .inputdateContourage2{
  border-color: #0069d900;
  background-color: #dcebfd;
  border-radius: 12px;
  height: 35px;
  position: absolute;
  width: 200px;
  padding: 10px;

  
}
.boxContourage .rqContourage{
  margin-top: 60px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .inputrqContourage{
  margin-top: 10px;
  margin-left: 90px;


}
.boxContourage .inputrqContourage2{
  background-color: #dcebfd;
  border-color: #0069d900;
  border-radius: 12px;
  height: 100px;
  position: absolute;
  width: 510px;
  padding: 10px;
 

}

.boxContourage .rqPrescription{
  margin-top: 120px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .rqImportation{
  margin-top: 20px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .rqScanner{
  margin-top: 20px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .inputrqPrescription{
  margin-top: 10px;
  margin-left: 110px;


}
.boxContourage .inputrqPrescription2{
  background-color: #dcebfd00;
  border-color: #0069d900;
  border-radius: 12px;
  height: 40px;
  position: absolute;
  width: 510px;
  padding: 10px;
  color: #ff6a00;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -35px;
  margin-left: 130px;

}
.boxContourage .inputrqScanner2{
  background-color: #dcebfd00;
  border-color: #0069d900;
  border-radius: 12px;
  height: 40px;
  position: absolute;
  width: 510px;
  padding: 10px;
  color: #ff6a00;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -35px;
  margin-left: 200px;

}

.boxContourage  .divContourage {
  height: 30px;
  position: absolute;
  width: 600px;
  top:660px;
  left: 70px;
}

.boxContourage .champ-textContourage {
  align-items: center;
  background-color: #2663ee;
  border-color: #0069d900;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  left: 300px;
  padding: 8px 75px 8px 80px;
  position: absolute;
  top: 0;
  width: 250px;
}

.boxContourage .text-wrapperContourage {
  color: #ffffff;
  border-color: #0069d900;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.boxContourage .div-wrapperContourage {
  align-items: center;
  background-color: #2663ee;
  border-color: #0069d900;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  left: 0;
  padding: 8px 75px 8px 80px;
  position: absolute;
  top: 0;
  width: 250px;
}
.boxContourage .medecin{
  margin-left: 180px;
}
.boxContourage .medecin2{
  margin-left: 30px;
}
.boxContourage .medecinp{
  margin-top: -20px;
  margin-left: 20px;
}
.boxContourage .realise{
  margin-top: -24px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}


.exit-button {
  background-color: red;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  top :30px;
  left:620px
}

.line {
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: white;
  top: 50%;
  left: 3px;
  transform-origin: center;
}

.line:nth-child(1) {
  transform: translateY(-50%) rotate(45deg);
}

.line:nth-child(2) {
  transform: translateY(-50%) rotate(-45deg);
}



.boxContourage .container {
  display: flex;
  flex-wrap: wrap; /* Pour que les éléments passent à la ligne si nécessaire */
}
.boxContourage .loc{
  margin-top: 20px;
  margin-left: 40px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .locinput{
  margin-top: 19px;
  margin-left: 125px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .indication{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .indicationinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .chimio{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .chimioinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .nb{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .nbinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .doseT{
  margin-top: 20px;
  margin-left: 40px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .doseTinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .doseS{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .doseSinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .technique{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxContourage .techniqueinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.boxContourage .lign{
  margin-top: -30px;
  margin-left: 50px;
}
.avatar {
  position: relative;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 70px;
}

.avatar:hover .overlay {
  opacity: 1;
}