.boxDetailsTraitement {
    height: 700px;
    width: 1400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8); 
  }
  
  
  .boxDetailsTraitement .groupDetailsTraitement {
    height: 840px;
    left: 0;
    top: 0;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 40px;
    position: fixed;
    width: 100%;
  }
  
  .boxDetailsTraitement .overlapDetailsTraitement {
    background-size: 100% 100%;
    height: 888px;
    position: relative;
    width: 1261px;
  }
  
  .boxDetailsTraitement .nouveau-DetailsTraitement-wrapperDetailsTraitement {
    height: 51px;
    left: 500px;
    position: absolute;
    top: 27px;
    width: 545px;
  }
  
  .boxDetailsTraitement .nouveau-DetailsTraitement {
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 543px;
  }
  .boxDetailsTraitement .nouveau-DetailsPrise-wrapperDetailsPrise {
    height: 51px;
    left: 50px;
    position: absolute;
    top: 27px;
    width: 545px;
  }
  
  .boxDetailsTraitement .nouveau-DetailsPrise {
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 543px;
  }
  .boxDetailsTraitement .med{
    margin-top: -37px;
    margin-left: 100px;
    color: #00b3ff;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .patient{
    margin-top: 50px;
    margin-left: 50px;
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .patientNom{
    margin-top: -20px;
    margin-left: 170px;
    color: #00b3ff;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .container {
    display: flex;
    flex-wrap: wrap; /* Pour que les éléments passent à la ligne si nécessaire */
  }
  
  .boxDetailsTraitement .dateTraitement{
  
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .inputdateTraitement{
    border-color: #0069d900;
    background-color: #dcebfd;
    border-radius: 12px;
    height: 35px;
    position: absolute;
    width: 300px;
    padding: 20px;
     }
     .boxDetailsTraitement .detailTraitement{
  margin-top: 60px;
      color: #233368;
      font-family: "Montserrat-Bold", Helvetica;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: normal;
    }
    .boxDetailsTraitement .inputdetailTraitement{
      border-color: #0069d900;
      background-color: #dcebfd;
      border-radius: 12px;
      height: 35px;
      position: absolute;
      width: 300px;
      padding-left: 20px;
      padding-top: 5px;

       }
       .boxDetailsTraitement .inputdetailetalementTraitement{
        border-color: #0069d900;
        background-color: #dcebfd;
        border-radius: 12px;
        height: 40px;
        position: absolute;
        width: 300px;
  
         }
      
      
  .boxDetailsTraitement .lign{
    margin-top: -30px;
    margin-left: 50px;
  }
  .avatar {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 70px;
  }
  
  .avatar:hover .overlay {
    opacity: 1;
  }
  .boxDetailsTraitement .medecin{
    margin-left: 180px;
  }
  .boxDetailsTraitement .medecin2{
    margin-left: -40px;
    margin-bottom: -30px;
  }
  .boxDetailsTraitement .medecinp{
    margin-top: -20px;
    margin-left: 20px;
  }
  .boxDetailsTraitement .realise{
    margin-top: -24px;
    margin-left: 50px;
    margin-bottom: 50px;
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  
  .exit-button {
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    top :30px;
    left:620px
  }
  
  .line {
    position: absolute;
    width: 80%;
    height: 4px;
    background-color: white;
    top: 50%;
    left: 3px;
    transform-origin: center;
  }
  
  .line:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
  }
  
  .line:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
  }
  
  .boxDetailsTraitement .rqPrescription{
    margin-top: 30px;
    margin-left: 50px;
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .rqImportation{
    margin-top: 60px;
    margin-left: 50px;
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .rqScanner{
    margin-top: 60px;
    margin-left: 50px;
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .rqContourage{
    margin-top: 60px;
    margin-left: 50px;
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .rqDosimetrie{
    margin-top: 60px;
    margin-left: 50px;
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .rqQualite{
    margin-top: 60px;
    margin-left: 50px;
    color: #233368;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement .inputrqPrescription{
    margin-top: 10px;
    margin-left: 150px;
  }
  
  .boxDetailsTraitement .inputrqPrescription2{
    border-color: #0069d900;
    background-color: #dcebfd00;
    border-radius: 12px;
    height: 80px;
    position: absolute;
    width: 500px;
    padding: 20px;
    margin-top: -5px;
    margin-left: -40px;
    color: #ff6a00;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  .boxDetailsTraitement  .divDetailsTraitement {
    height: 30px;
    position: absolute;
    width: 400px;
    margin-left: 900px;
    margin-top: 100px;
  }
  
  .boxDetailsTraitement .champ-textDetailsTraitement {
    align-items: center;
    background-color: #2663ee;
    border-color: #0069d900;
    border-radius: 12px;
    display: flex;
    gap: 10px;
    height: 45px;
    justify-content: center;
    left: 220px;
    padding: 8px 75px 8px 80px;
    position: absolute;
    top: 0;
    width: 200px;
  }
  
  .boxDetailsTraitement .text-wrapperDetailsTraitement {
    color: #ffffff;
    border-color: #0069d900;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .boxDetailsTraitement .div-wrapperDetailsTraitement {
    align-items: center;
    background-color: #2663ee;
    border-color: #0069d900;
    border-radius: 12px;
    display: flex;
    gap: 10px;
    height: 45px;
    justify-content: center;
    left: 0;
    padding: 8px 75px 8px 80px;
    position: absolute;
    top: 0;
    width: 200px;
  }