.boxImportation {
  height: 634px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 691px;
}

.boxImportation .groupImportation {
  background-color: #ffffff;
  border-radius: 40px;
  height: 700px;
  position: relative;
  width: 100%;
}


.boxImportation .Importation-wrapper {
  height: 40px;
  left: 280px;
  position: absolute;
  top: 30px;
  width: 400px;
}

.boxImportation .Importation {
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: -100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 400px;
}
.boxImportation .med{
  margin-top: -37px;
  margin-left: 60px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .patient{
  margin-top: -20px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .patientNom{
  margin-top: -14px;
  margin-left: 130px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .container {
  display: flex;
  flex-wrap: wrap; /* Pour que les éléments passent à la ligne si nécessaire */
}
.boxImportation .loc{
  margin-top: 20px;
  margin-left: 40px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .locinput{
  margin-top: 19px;
  margin-left: 125px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .indication{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .indicationinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .chimio{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .chimioinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .nb{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .nbinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .doseT{
  margin-top: 20px;
  margin-left: 40px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .doseTinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .doseS{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .doseSinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .technique{
  margin-top: 20px;
  margin-left: 20px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .techniqueinput{
  margin-top: 19px;
  margin-left: 10px;
  color: #00b3ff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .dateImportation{
  margin-top: 40px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .inputdateImportation{
  margin-top: -25px;
  margin-left: 220px;

  
}
.boxImportation .inputdateImportation2{
  border-color: #0069d900;
  background-color: #dcebfd;
  border-radius: 12px;
  height: 35px;
  position: absolute;
  width: 200px;
  padding: 20px;

  
}
.boxImportation .rqImportation{
  margin-top: 60px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .inputrqImportation{
  margin-top: 10px;
  margin-left: 90px;


}
.boxImportation .inputrqImportation2{
  background-color: #dcebfd;
  border-color: #0069d900;
  border-radius: 12px;
  height: 100px;
  position: absolute;
  width: 510px;
  padding: 10px;

}
.boxImportation  .divImportation {
  height: 10px;
  position: absolute;
  width: 600px;
  top:630px;
  left: 60px;
}
.boxImportation .rqPrescription{
  margin-top: 120px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .rqScanner{
  margin-top: 20px;
  margin-left: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.boxImportation .inputrqPrescription{
  margin-top: 10px;
  margin-left: 110px;


}
.boxImportation .inputrqPrescription2{
  background-color: #dcebfd00;
  border-color: #0069d900;
  border-radius: 12px;
  height: 40px;
  position: absolute;
  width: 510px;
  padding: 10px;
  color: #ff6a00;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -35px;
  margin-left: 130px;
}
.boxImportation .inputrqScanner2{
  background-color: #dcebfd00;
  border-color: #0069d900;
  border-radius: 12px;
  height: 40px;
  position: absolute;
  width: 510px;
  padding: 10px;
  color: #ff6a00;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -35px;
  margin-left: 200px;
}
.boxImportation .champ-textImportation {
  align-items: center;
  background-color: #2663ee;
  border-color: #0069d900;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  left: 300px;
  padding: 8px 75px 8px 80px;
  position: absolute;
  top: 0;
  width: 250px;
}

.boxImportation .text-wrapperImportation {
  color: #ffffff;
  border-color: #0069d900;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.boxImportation .div-wrapperImportation {
  align-items: center;
  background-color: #2663ee;
  border-color: #0069d900;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  left: 0;
  padding: 8px 75px 8px 80px;
  position: absolute;
  top: 0;
  width: 250px;
}
.boxImportation .medecin{
  margin-left: 180px;
  margin-top: -20px;
}
.boxImportation .medecin2{
  margin-left: 30px;
  margin-top: -20px;
}
.boxImportation .medecinp{
  margin-top: -20px;
  margin-left: 20px;
}
.boxImportation .realise{
  margin-top: -24px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #233368;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}


.exit-button {
  background-color: red;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  top :30px;
  left:620px
}

.line {
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: white;
  top: 50%;
  left: 3px;
  transform-origin: center;
}

.line:nth-child(1) {
  transform: translateY(-50%) rotate(45deg);
}

.line:nth-child(2) {
  transform: translateY(-50%) rotate(-45deg);
}


.boxImportation .lign{
  margin-top: -30px;
  margin-left: 50px;
}
.avatar {
  position: relative;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 70px;
  z-index: 999;
}

.avatar:hover .overlay {
  opacity: 1;
}



